* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans",
  sans-serif; 
  font-size: 20px;
  color: #444;
  line-height: 1.5;
}

nav{
  background-color: #aaa;
  font-size: 15px;
  text-align: right;
}

footer {
  padding: 1% 0;}
 
 nav{ position: fixed;
  top: 0;
  left: 0;
  right: 0;}
header {
  padding: 2px 0;
  text-align: center:
}

section {
  min-height: 200px;
  max-width: 800px;
  padding: 1px 0;
  text-align: left;
  background-color: white;
}
