* {
  box-sizing: border-box;
}

body {
  font: Domino; 
  font-size: 20px;
  color: #444;
  line-height: 1.5;
}

nav{
  background-color: #aaa;
  font-size: 15px;
  text-align: right;
}

footer {
  padding: 1% 0;}
 
 nav{ position: fixed;
  top: 0;
  left: 0;
  right: 0;}
header p {
  padding: 2px 0;
  text-align: center;
}
h1{
  
  color:brown;
  text-align: center;
}

section {
  min-height: 200px;
  max-width: 800px;
  padding: 1px 0;
  text-align: left;
  background-color: white;
  margin: 0 auto;
}
h2{
  color: brown;
  text-align: center;
}
h3{
  color: blue;
}
section:nth-child(even) {
  background-color: lightgrey;
}
